.App {
  text-align: left;
  padding: 10px;
  background-color: #FFFCF5;
}
/* 
* {
  outline: 1px solid red;
}
 */

 * {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .experience {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white !important;
  margin-top: 20vh;
} */

.experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensures it starts at the top */
  align-items: center; /* Centers content horizontally */
  background-color: white !important;
  padding: 5%;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.workButton {
  background-color: #7a68b0; 
  border-color: white;
  border-style: solid; 
  border-width: 2px; 
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  z-index: 100;
  height: 50px;
  display: inline-flex;
  align-items: center;
}

.playButton {
  background-color: white; /* Example color */
  border-color: #8e7cc3; /* Border color */
  border-style: solid; /* Set the border style */
  border-width: 2px; /* Set the border thickness */
  padding: 10px 20px;
  font-size: 16px;
  color: #8e7cc3;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  z-index: 100;
  height: 50px;
  display: inline-flex;
  align-items: center;
}

.workButton:hover {
  background-color: white;
  color: #7a68b0;
}

.playButton:hover {
  background-color: #7a68b0;
  color: white;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerWork {
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#heading{
  color: #FA573E;
}

#heading1{
  padding-top: 10%;
  color: #FA573E;
}

#heading2{
  color: #FFADA1;
}

.mainPage {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.navbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;  /* Ensure the container uses full available width */
}


body, html {
  overflow-x: hidden;
}

.me {
  margin-top: 5%;
}

@media (max-width: 768px) {
  .homeText {
    margin-right: 2%;
    margin-left: 2%;
  }

  img.me {
    width: 60%; /* Adjust image width */
    display: block;
    margin-left: -5%;
  }

  .me {
    margin-top: -10%;
  }

  .mainPage {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
  }

  .paragraph {
    font-size: 14px;
  }

  .header {
    font-size: 26px; /* Reduce the header size */
  }

  .card {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
  }
  
  .section {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align for smaller screens */
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-collapse {
    justify-content: space-between; /* Ensure spacing between brand and nav links */
  }

  .navbar-brand {
    margin-left: 0; /* Reset the brand's margin for mobile */
  }

  .ml-auto {
    margin-left: 0; /* Reset left margin on mobile */
  }

  .wave {
    display: none;
  }

  .headerWork{
    color: #8e7cc3;
    margin-bottom: 10%;
  }
}
