/* PasswordProtect.css */
.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.password-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.password-form button:hover {
    background-color: #0056b3;
}
